* {
	font-family: 'calibri';
    }
		
#wrapper{
	background-color: white;
}
#internalWrapper{
	width:95%;
}

p{
	font-size:25px;
    text-align:center;
    font-weight: bold;
}

@media(max-width: 1000px) {
	span{display:none;}
	
}
@media(max-width: 700px) {
	.cakes{height:100px;}
	textarea{width: 180px;}
}

form{
    text-align:right;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;} 

button{
    text-align:right;
    font-size: 20px;
    display: inline-block;
    background:#ffcccc;
    border:solid 3px lavender;
    color:black;
    padding: 15px 30px;}

input{text-align:right;}


.form-group{direction:rtl;}

 .form-group {
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
}

.form-group label {
	display: inline-block;
	margin-bottom: 5px;
    font-size: 20px;
}

.form-group input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: inline-block;
	font-family: inherit;
	font-size: 15px;
	padding: 5px;
	width: 100%;
}

.form-group input:focus {
	outline: 0;
	border-color: #777;
}
 
 .form-group i {
	visibility: hidden;
	position: absolute;
	top: 45px;
	left: 20px;
}

.form-group.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-group.error i.fa-exclamation-circle {
	color: red;
	visibility: visible;
}

.form-group small {
	color: red;
	position: absolute;
	bottom: 0;
	right: 0;
	visibility: hidden;
}

.form-group.error small {
	visibility: visible;
}

.form-group.success input {
	border-color: #2ecc71;
}

.form-group.error input {
	border-color: red;
}
